<h1>Start#index</h1>
<title>Bibione</title>
<p>Find me in app/views/start/index.html.erb</p>

<br>
<a href="/start/index">Home Page</a>
<br>
<a href="/start/contact">Contact</a>
<br>
<a href="start/aboutus">About us</a>
